<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- test -->
  <servers>
    <server>
      <id>lemonize</id>
      <username><%= scope['kickstart::maven_user'] %></username>
      <password><%= scope['kickstart::maven_password'] %></password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>lemonize</id>
      <name>Lemonize Artifactory</name>
      <mirrorOf>*</mirrorOf>
      <url>http://repository.lemonize.de/repo</url>
    </mirror>
  </mirrors>
</settings>
